body{
  margin: 0;
  padding: 0;
}
body {
    font-family: "Poppins", serif;
    color: #333;
    background-color: #fff;
  }
  
  header, nav, main, footer {
    padding: 1rem;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #0060b1;
  }
  
  header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .top-header-name {
    display: inline;
    font-size: 1.5rem;  
    justify-content: center;
    color: #fff;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
  }
  
  nav a {
    text-decoration: none;
    color: #0060b1;
    font-size: large;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #000;
  }

  div h1 { 
    text-align: center;
  }

  div h2 { 
    text-align: center;
  }
  main {
    max-width: 960px;
    margin: 0 auto;
  }
  
  section.card {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid aliceblue;
    background-color: aliceblue;
  }
  
  section.card h3 {
    font-size: 1.5rem;
    margin: 0px;
    background-color: #0060b1;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  section.card li {
    list-style-type: none;
  }
  
  footer {
    text-align: center;
    color: #666;
    font-size: 13px;
    line-height: 8px;
    background-color: #222c34;
    margin: 0px;
  }
  