@media (min-width: 768px) {
    .menu-toggle {
      display: none; 
    }
  
    .menu-items {
      display: flex;
      flex-direction: row; 
      align-items: center;
      justify-content: space-evenly;
      background-color: aliceblue;
      padding: 0;
    }
  
    nav {
      justify-content: flex-start; 
    }
  
    nav a {
      margin: 0 20px; 
      font-size: 18px;
      font-weight: bold;
    }
  
    header {
      flex-direction: row;
      justify-content: center;
    }
  
    header img {
      width: 100px;
      height: 100px;
      margin-right: 0;
    }
  
    .top-header-name {
      font-size: 2rem;
      padding-left: 20px;
      color: #fff;
    }
  
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  
    section.card {
      margin-bottom: 0;
    }
  
    footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }