/* Global styles */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #333;
}

/* Image styles */
img {
  border: 0;
  padding: 0;
}

/* List styles */
li {
  list-style: none;
}

/* Anchor (link) styles */
a {
  text-decoration: none;
  color: #0060b1;
  background-color: transparent;
  cursor: pointer;
}

/* Heading styles */
h1,
h2,
h3 {
  text-align: left;
  margin-bottom: 1rem;
  color: #333;
}

/* Element padding */
header,
nav,
main,
footer {
  padding: 1rem;
}
