/* CSS for light mode */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  color: #333;
  background-color: #fff;
}

header, nav, main, footer {
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  background-color: #0060b1;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}

.top-header-name {
  display: inline;
  font-size: 1.5rem;
  justify-content: center;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}

nav a {
  text-decoration: none;
  color: #0060b1;
  font-size: large;
  font-weight: bold;
}

nav a:hover {
  color: #000;
}

/* CSS for the responsive hamburger menu */
.menu-toggle {
  display: none; /* Hide the button by default */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}


/* CSS for mobile view */
@media (max-width: 767px) {
  /* Mobile menu styles */
  .menu-items {
      display: none; /* Hide the menu items by default on mobile */
  }

  .show-menu .menu-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: aliceblue;
      padding: 1rem; /* Add padding for mobile menu */
  }

  .menu-toggle {
      display: block; /* Show the button for mobile view */
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
  }
}

/* Start Chamber */

/* Color Schema Styles */
.color-sample {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.primary-color {
  background-color: #0078D4;
  color: white;
}

.secondary-color {
  background-color: #F0F0F0;
}

/* Typography Styles */
.font-sample {
  font-family: 'Arial', Helvetica, sans-serif;
  margin: 5px 0;
}

/* Wireframe Styles */
.wireframes img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

/* End Chamber */





/* CSS for centering the div */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px; /* Add margin for spacing */
}


/* Card section styles in light mode */
section.card {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid aliceblue;
  background-color: aliceblue;
}

section.card h3 {
  font-size: 1.5rem;
  margin: 0px;
  background-color: #0060b1;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Footer styles in light mode */
footer {
  text-align: center;
  color: #666;
  font-size: 13px;
  line-height: 8px;
  background-color: #222c34;
  margin: 0px;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode header {
  background-color: #000;
}

.dark-mode nav {
  background-color: #222;
}

.dark-mode nav a {
  color: #fff;
}

.dark-mode nav a:hover {
  color: #bbb;
}

.dark-mode .menu-toggle {
  color: #fff;
}

.dark-mode .menu-items {
  background-color: #222;
}

/* Card section styles in dark mode */
body.dark-mode section.card {
  background-color: #222;
  border: 1px solid #444;
}

body.dark-mode section.card h3 {
  background-color: #444;
  color: #fff;
}

/* Footer styles in dark mode */
body.dark-mode footer {
  background-color: #111;
  color: #666;
}
