@media (min-width: 768px) {
    header {
        flex-direction: row; 
        justify-content: center;
      }
    
      header img {
        width: 100px;
        height: 100px;
        margin-right: 0;
      }
    
      .top-header-name {
        font-size: 2rem;  
        padding-left: 20px;  
        color: #fff;    
      }
    
    nav {
        flex-direction: row;
    }

    nav a {
        font-size: 18px;
        font-weight: bold;
      }
  
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  
    section.card {
      margin-bottom: 0;
    }
  
    footer {
      flex-direction: row;
      justify-content: space-between;
    }
}
  