/* CSS for desktop view */
@media (min-width: 768px) {
  /* Desktop menu styles */
  .menu-toggle {
      display: none; /* Hide the button on desktop */
  }

  .menu-items {
      display: flex;
      flex-direction: row; /* Display menu items horizontally on desktop */
      align-items: center;
      justify-content: space-evenly;
      background-color: aliceblue;
      padding: 0; /* Reset padding for desktop menu */
  }

  nav {
      justify-content: flex-start; /* Adjust menu alignment on desktop */
  }

  nav a {
      margin: 0 20px; /* Add spacing between desktop menu items */
      font-size: 18px;
      font-weight: bold;
  }
  
  /* Additional styles for desktop view */
  header {
      flex-direction: row;
      justify-content: center;
  }

  header img {
      width: 100px;
      height: 100px;
      margin-right: 0;
  }

  .top-header-name {
      font-size: 2rem;
      padding-left: 20px;
      color: #fff;
  }

  main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
  }

  section.card {
      margin-bottom: 0;
  }

  footer {
      flex-direction: row;
      justify-content: space-between;
  }
}
