body,
div,
h1,
h2,
h3,
ul,
li,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #333;
}

* {
  box-sizing: border-box;
}

img {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0060b1;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3 {
  text-align: left;
  margin-bottom: 1rem;
  color: #333;
}

header,
nav,
main,
footer {
  padding: 1rem;
}
